# Export just names we need
export(H2)
exportClasses(H2Connection)
exportClasses(H2Result)
exportMethods(dbConnect)
exportMethods(dbDataType)
exportMethods(dbSendQuery)
exportMethods(dbWriteTable)
exportMethods(fetch)

# # Export all names
# exportPattern(".")
# exportPattern("[.]")

# Import all packages listed as Imports or Depends
import(
  chron,
  methods,
  RJDBC
)

importFrom(rJava,.jpackage,is.jnull,.jfindClass,.jnew,.jcheck,.jnull,.jcall,.jgetEx,.jfield)
